<h1> What movie are you searching for? </hi><br  /><br />

<form action= "/results" method = "POST" />
	<input type = "text" name = "search_keywords" placeholder="Enter keyword(s) here" />
	<input type = "submit" value = "Search" />
</form>

<br  />
<br  />