<html>
<body> 
<h1> Results </h1><br /><br  />

 Which of these movies was in the year 1957?
		<ul>
		<% 	@posters.each do |poster| %>
			<li><img src="<%=poster%>"></li>
		<% end %>
		<ul>
</body>		
</html>